<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            </thead>
            <tbody>
            <td th:object="${MP}"></td>
            <td th:text="*{MP.HG_NM}"></td>
            <td th:text="*{MP.HJ_NM}"></td>
            <td th:text="*{MP.ENG_NM}"></td>
            <td th:text="*{MP.BTH_GBN_NM}"></td>
            <td th:text="*{MP.BTH_DATE}"></td>
            <td th:text="*{MP.JOB_RES_NM}"></td>
            <td th:text="*{MP.POLY_NM}"></td>
            <td th:text="*{MP.ORIG_NM}"></td>
            <td th:text="*{MP.ELECT_GBN_NM}"></td>
            <td th:text="*{MP.CMIT_NM}"></td>
            <td th:text="*{MP.CMITS}"></td>
            <td th:text="*{MP.REELE_GBN_NM}"></td>
            <td th:text="*{MP.UNITS}"></td>
            <td th:text="*{MP.SEX_GBN_NM}"></td>
            <td th:text="*{MP.TEL_NO}"></td>
            <td th:text="*{MP.HOMEPAGE}"></td>
            <td th:text="*{MP.STAFF}"></td>
            <td th:text="*{MP.SECRETARY}"></td>
            <td th:text="*{MP.SECRETARY2}"></td>
            <td th:text="*{MP.MEM_TITLE}"></td>
            <td th:text="*{MP.ASSEM_ADDR}"></td>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
            <tr th:each="bill : ${Bill}">
                <td th:text="${bill.BILL_NO}"></td>
                <td th:text="${bill.BILL_NAME}"></td>
                <td th:text="${bill.COMMITTEE}"></td>
                <td th:text="${bill.PROPOSE_DT}"></td>
                <td th:text="${bill.PROC_RESULT}"></td>
                <td th:text="${bill.AGE}"></td>
                <td th:text="${bill.DETAIL_LINK}"></td>
                <td th:text="${bill.PROPOSER}"></td>
                <td th:text="${bill.MEMBER_LIST}"></td>
                <td th:text="${bill.RST_PROPOSER}"></td>
                <td th:text="${bill.PUBL_PROPOSER}"></td>
                <td th:text="${bill.COMMITTEE_ID}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>