<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <td th:object="${MP}"></td>
            <td th:text="*{MP.HG_NM}"></td>
            <td th:text="*{MP.HJ_NM}"></td>
            <td th:text="*{MP.ENG_NM}"></td>
            <td th:text="*{MP.BTH_GBN_NM}"></td>
            <td th:text="*{MP.BTH_DATE}"></td>
            <td th:text="*{MP.JOB_RES_NM}"></td>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>